<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="{{ url_for('static', filename='homepagestyle.css') }}" link>
<head>
  <meta charset="utf-8">
  <title>Brewery Management</title>
</head>
<body>
  <h1><u>Brewery Planner</u></h1>
  <form method = "POST">
  <div class="dropdown">
    <select class ="dropbtn" name=month_id>
      <option value="0" selected disabled>
        Please select the week from now to use planning algorithm
      </option>
      {%for i in range(12) %}
      <option value="{{i+1}}"> {{i+1}} month/s</option>
      {%endfor%}
    </select>
  </div>
  <input value="Confirm Selection" type="submit" class="button">
</form>
<h2> {{p_m}} </h2>
<p> You should brew {{new_tot}} more {{n_bottles}} bottles as it has the
  highest predicted sales in {{month_conv}} months. </p>
  <br>
  <p> The number of {{n_bottles}} in storage is {{storage}}
</head>
</body>
<br>
<form action="/">
  <input value="Return to home" type="submit" class="button">
</form>
</html>
